/* Default styles for larger screens */
.valorant-section {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: slideIn 1s ease-in-out;
  padding-top: 150px;
  }

  .valorant-wrapper{
    background-image: url('../images/valorant-wallpaper-updated.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    animation: fadeIn 1s ease-in;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .valorant-logo {
    width: 450px;
    height: 400px;
    max-width: 90%; /* Limit maximum width for smaller screens */
    margin: 0 auto; /* Center horizontally */
    padding: 0; /* Reset padding */
    animation: slideIn 1s ease-in-out 0.5s;
  }
  
  .valorant-text {
    color: white;
    font-size: 25px;
    padding: 20px 0; /* Add padding for smaller screens */
    text-align: center;
    padding-right: 250px;
    animation: slideIn 1s ease-in-out 1s;
  }
  
  /* Media query for screens narrower than 768px (standard tablet and below) */
  @media (max-width: 768px) {
    .valorant-section {
      padding: 20px; /* Add padding for smaller screens */
    }
  
    .valorant-logo {
      width: 80%; /* Adjust width for smaller screens */
      max-width: 350px; /* Limit maximum width */
      height: auto; /* Maintain aspect ratio */
      margin: 0 auto; /* Center horizontally */
      padding-left: 0; /* Reset padding */
    }
  
    .valorant-text {
      font-size: 16px; /* Adjust font size for smaller screens */
      padding: 0; /* Reset padding */
      text-align: center;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }