.side-nav {
  width: 250px;
  height: 100vh;
  background-color: #003366; /* Background color for the sidebar */
  transition: left 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav-links {
  padding-top: 20px; /* Adjust padding as needed */
}

.sidenav-links li {
  list-style: none;
  font-size: 22px; /* Adjust font size as needed */
  padding: 11px; /* Adjust padding as needed */
  color: white;
}

.sidenav-links a {
  text-decoration: none;
  color: white;
  display: block; /* To make the entire list item clickable */
  transition: background-color 0.3s, color 0.3s;
  font-size: 27px;
}

.sidenav-links a:hover {
  background-color: white;
  color: black;
}

/* Remove underlines from links */
.sidenav-links a:hover {
  text-decoration: none;
}

.nav-link{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 27px;
  padding-right: 12px;
  cursor: pointer;
  transition-duration: 0.3s;
  font-family: auto;

}

.nav-link:hover{
background-color: white;
color: black;
}