.side-nav {
  width: 250px;
  height: 111.6vh;
  background-color: #003366; /* Background color for the sidebar */
  transition: left 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav-links {
  padding-top: 20px; /* Adjust padding as needed */
}

.sidenav-links li {
  list-style: none;
  font-size: 22px; /* Adjust font size as needed */
  padding: 11px; /* Adjust padding as needed */
  color: white;
}

.sidenav-links a {
  text-decoration: none;
  color: white;
  display: block; /* To make the entire list item clickable */
  transition: 0.5s;
  font-size: 27px;
}

.sidenav-links a:hover {
  text-decoration: underline;
}

/* Remove underlines from links */
.sidenav-links a:hover {
  text-decoration: underline;
  text-decoration-color:#CC0000 ;
  text-decoration-thickness: 5px;
}

.nav-link{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 27px;
  padding-right: 12px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: auto;

}

.nav-link:hover{
text-decoration: underline;
text-decoration-color: #CC0000;
text-decoration-thickness: 5px;
}

.fade-in{
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}