.csgo-section{
    display: block;
    justify-content: center;
    align-items: center;
    height: 90.4vh;
    animation: slideIn 1s ease-in-out;
    padding-top: 150px;
}

.csgo-wrapper{
  background-image: url('../images/csgo-wallpaper-updated.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.csgo-image{
    width: 450px;
    height: 166px;
    max-width: 90%; /* Limit maximum width for smaller screens */
    margin: 0 auto; /* Center horizontally */
    padding: 0; /* Reset padding */
    animation: slideIn 1s ease-in-out 0.5s;
}

.csgo-text{
    color: white;
    font-size: 18px;
    padding: 20px 0; /* Add padding for smaller screens */
    text-align: center;
    padding-right: 250px;
    animation: slideIn 1s ease-in-out 1s;
}
/* * Media query for screens narrower than 768px (standard tablet and below) */ 
  @media (max-width: 768px) {
    .csgo-section {
      display: block;
      padding: 20px; /* Add padding for smaller screens */
      align-items: center;
    }
  
    .csgo-image {
      width: 80%; /* Adjust width for smaller screens */
      max-width: 350px; /* Limit maximum width */
      height: auto; /* Maintain aspect ratio */
      margin: 0 auto; /* Center horizontally */
      padding-left: 0; /* Reset padding */
    }
  
    .csgo-text {
      font-size: 16px; /* Adjust font size for smaller screens */
      padding: 0; /* Reset padding */
      text-align: center;
    }
  }

@keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  