.LOL-section{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: slideIn 1s ease-in-out;
    padding-top: 150px;
}

.LOL-wrapper{
    background-image: url('../images/LOL-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.LOL-image {
  width: 200px;
  height: 200px;  
  max-width: 90%; /* Limit maximum width for smaller screens */
  margin: 0 auto; /* Center horizontally */
  padding: 0; /* Reset padding */
  animation: slideIn 1s ease-in-out 0.5s;
}

.LOL-text {
  color: white;
  font-size: 18px;
  padding: 20px 0; /* Add padding for smaller screens */
  text-align: center;
  padding-right: 250px;
  animation: slideIn 1s ease-in-out 1s;
}

/* Media query for screens narrower than 768px (standard tablet and below) */
@media (max-width: 768px) {
  .LOL-image {
    height: auto; /* Maintain aspect ratio */
    width: 80%; /* Adjust width for smaller screens */
  }

  .LOL-text {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 10px 0; /* Adjust padding for smaller screens */
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
