.LOL-section{
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
}

.LOL-image {
  width: 200px;
  height: 200px;  

}

.LOL-text {
  color: white;
  font-size: 18px;
  padding-right: 250px;
  text-align: center;
}
