.homepage-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78.5vh; /* Ensure the container takes up the full viewport height */
}

.fade-in{ 
    animation: fadeIn 1s ease-in;
}

.homepage-title{
    color: white;
    font-size: 110px;
    padding-right: 200px;
}

.Typewriter{
    color: white;
    font-size: 110px;
    padding-right: 200px;
    font-weight: bold;
    caret-color:#CC0000;
}

.Typewriter__cursor{
    color: #CC0000;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }