.homepage-section{
    text-align: center;
    display: flex;
    padding-top: 360px;
}


.homepage-title{
    color: white;
    font-size: 110px;
    padding-right: 200px;
}

.Typewriter{
    color: white;
    font-size: 110px;
    padding-top: 100px;
    padding-right: 200px;
}

